body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Estilo do formulário de login */
.login-form {
    max-width: 500px; /* Aumenta a largura do formulário */
    margin: 0 auto;
}

.login-form h1 {
    text-align: center;
    font-size: 36px; /* Aumenta o tamanho do título */
}

.login-form .form-group {
    margin-bottom: 30px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 16px; /* Aumenta o tamanho do padding */
    font-size: 20px; /* Aumenta o tamanho do texto */
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 16px; /* Aumenta o tamanho do padding */
    font-size: 20px; /* Aumenta o tamanho do texto */
    background-color: #083c5c; /* Define a cor de fundo do botão */
    color: #fff; /* Define a cor do texto do botão */
}

.login-form .text-danger {
    display: block;
    margin-top: 10px;
}

.login-form .error-message {
    color: red;
}

.control-label {
    color: #083c5c;
}

.login-title{
    color: #083c5c;
    border-bottom: none;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    min-height: 100%;
}