@using Microsoft.AspNetCore.Http
@using SistemaTarefas
@using SistemaTarefas.Entities
@{
    ViewData["Title"] = "Home";
    ViewData["MenuName"] = "Sistema de Tarefas";
    
    Layout = "_Layout";
}

<div class="text-center" style="height: 90vh; display: flex; flex-direction: column; justify-content: center; margin-top: -20px; color: #083c5c;">
    <h1 class="display-1">BEM-VINDO @(UserSession.Username??"")!</h1>  
    <p>Sistema de Rastreio de Tempo em Tarefas - Engenharia de Software II</p>
</div>


